doctype html
html
  head
    title Address Book
    block scripts
    block style
      style
        include ../static/style.css

      
  body
    nav.navbar

        ul
          li #[a(href="/") HOME]
          li #[a(href="/address") MY ADDRESS]
            
        
    block content
    